<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Node practice | <%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <!-- Navigation -->
  <%- include('./layouts/nav.ejs') %>

  <!-- Page Content -->
  <div class="container">
    <h1>About Us</h1>
    <p>This is a simple HTML template with a navigation bar. You can customize the colors, links, and styles as you like.</p>
  </div>

</body>
</html>
